@charset "UTF-8";

/*
Paleta de cores
Do mais escuro para o mais claro
#011C26
#012326
#365659
#7D8C8B
#D9D9D9
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #011C26;
    height: 99vh;
    width: 99vw;
}

section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
        border-radius: 20px;
        transition: width .3s, height .3s;
        transition-timing-function: ease;
}

#imagem {
    background-image: url(../imagens/pexels-adam-lukac-254247-1059979.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

#formulario {
    display: block;
    background-color: #365659;
    width: 300px;
    height: 400px;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

h1 {
    color: #D9D9D9;
    text-align: center;
    padding: 20px;
}

p {
    color: #acb9b8;
    padding: 10px 0px 40px 0px;
    text-align: center;
    font-size: 0.8em;
}

.campo label {
    display: none;
}

div#formulario .campo {
    background-color: #011C26;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 7px 0px;
    padding: px;
    border: 1px solid #011C26;
}

.campo span {
    color: white;
    font-size: 2em;
    padding: 9px 1px 0px 6px;
    width: 40px;
}

.campo > input[type=password], input[type=email] {
    border: 0px;
    background-color: #dee0e0;
    border-radius: 5px;
    height: 100%;
    width: calc(100% - 45px);
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.603);
    transform: translateY(-11px);
    font-size: 1em;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #98afae;
    border: 0px;
    color: white;
    border-radius: 10px;
    font-size: 1em;
}

form > input[type=submit]:hover {
    background-color: #62918c;
    cursor: pointer;
}

form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: 0px;
    color: #497572;
    border-radius: 10px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    margin-top: 6px;
}

form > a.botao:hover {
    background-color: #62918c;
    color: white;
}